<html>
    <head>
        <title>Phone Authentication</title>
    </head>
    <body>
        <h3>Hello! Please Enter Your Phone Number For Authentication</h3>
        <form action="/auth" method="POST">
            <label for="number">Country-Code (without + )</label><br>
            <input type="number" name ="countryCode" placeholder="eg. 91"> <br>
            <label for="number">Contact</label><br>            
            <input type="number" name ="number" placeholder="eg. 9898585896"><br>
            <input type="submit" value="Sign In !">
        </form>
    </body>
</html>